 
ul.custom-bullets {
    list-style-type: disc;
    }

        
ol.roman {
    list-style-type: upper-roman;        
    }

        
ol.alphabet {
    list-style-type: upper-alpha;   
    }


ul,ol {
    margin: 10px 0;
    padding-left: 20px;
    }